EXPO_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_KEY
EXPO_PUBLIC_BLE_SERVICE_UUID=YOUR_BLE_SERVICE_UUID
EXPO_PUBLIC_BLE_DEVICE_NAME_PREFIX=CC-
EXPO_PUBLIC_BLE_CONFIG_SERVICE_UUID=YOUR_BLE_CONFIG_SERVICE_UUID
EXPO_PUBLIC_BLE_DEVICE_NAME_CHARACTERISTIC_UUID=YOUR_BLE_DEVICE_NAME_CHARACTERISTIC_UUID
