# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Expo / React Native
.expo/
dist/
build/
web-build/

# Env / Secrets
.env
.env.*
src/config/env.ts

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
logs/
*.log

# Cache / Temp
.cache/
tmp/
temp/


img-log/*
!img-log/.gitkeep